html, body{
  height:100%;
  background-color: rgb(0, 0, 0);
}

canvas {
  position: absolute;
  left: 40%;
  top: 50%;
  margin-left: -300px;
  margin-top: -200px;
}

canvas:hover{
  cursor: url('../img/cursors/pencil.png')-1 27, default;
}

.toolsBar{
  position: absolute;
  border-style: solid;
  border-width:thin;
  border-color: rgb(155,155,155);
  margin-left: 17.5%;
  width: 65.5%;
  height: 10%;
  background-color: rgb(200,200,155);
}
.toolsBar img{
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 5%;
  margin-left: 10%;
  margin-top: 0.5%;
}

.toolsBar img:hover{
  border-style: solid;
  border-width: 1px;
  border-radius: 10%;
  border-color: rgb(240,240,240);
}
/*
.fileIcon, .toolIcon{
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 5%;
  margin-left: 10%;
  margin-top: 0.5%;
}

.fileIcon:hover, .toolIcon:hover {
  border-style: solid;
  border-width: 1px;
  border-radius: 10%;
  border-color: rgb(240,240,240);
}*/

.tools1{
  position: relative;
  width: 50%;
  border-right-style: dotted;
  border-right-width: 2px;
  display: inline-block;
}

.tools2{
  position: absolute;
  width: 50%;
  display: inline-block;
}

.filterBox{
  position: absolute;
  width: 16%;
  height: 80.6%;
  float:left;
}

.filterTitle{
  /*margin-right: 25%;
  margin-top: 10%;*/
  text-align: center;
  color : inherit;
  border-bottom: inherit;
  width: 100%;
  float: right;
}

.filter{
  width: 41%;
  height: 19%;
  border: inherit;
  display: inline-block;
  margin: 2%;
  margin-top: 10%;
}

.filter img{
  width: 100%;
  height: 100%;
}

.filter img:hover{
  width: 100%;
  height: 100%;
  border-style: double;
  border-width: 2%;
  border-color: inherit;
}

#restoreButton{
  margin-top: 70%;
  margin-left: 8%;
}
